@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

a {
    color: black;
}

img.map {
    width: 80vw;
}

img.gear {
    width: 40vw;
}

h1.navbar {
    font-family: 'Roboto', sans-serif;
}

h2.navbar {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1vw;
}

table.navbar {
    margin-left: auto;
    margin-right: auto;
}

table.navbar-head {
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

p.main {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2vw;
    text-align: center;
}

table.gmap {
    margin-left: auto;
    margin-right: auto;
}

table.data {
    border-color: darkgray;
    border-style: solid;
    border-width: thin;
}

td.data {
    border-color: darkgray;
    border-style: dotted;
    border-width: thin;
}

/* Dropdown Button */
.dropbtn {
    width: 20vw;
    height: 4vw;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2vw;
    font-weight: lighter;
    background-color: gainsboro;
    cursor: pointer;
    border: none;
    outline: none;
}

.dropbtn-light {
    width: 20vw;
    height: 4vw;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2vw;
    font-weight: lighter;
    background-color: #f1f1f1;
    cursor: pointer;
    border: none;
    outline: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.img-holder {position: relative;}
.img-holder .b1 {
    width: 2vw;
    height: 2vw;
    min-width: 0;
    position: absolute;
    bottom: 11.3vw; /*your button position*/
    right: 4.25vw; /*your button position*/
    border-radius: 50%;
    background-color: rgba(100, 0, 0, 0.5);
    border-width: medium;
    border-color: black;
    outline-style: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    animation: b-glow infinite 2s linear;
}
.b1:hover {
    animation: none;
}
.img-holder .b2 {
    width: 2vw;
    height: 2vw;
    position: absolute;
    bottom: 15vw; /*your button position*/
    right: 5vw; /*your button position*/
    border-radius: 50%;
    background-color: rgba(100, 0, 0, 0.5);
    border-width: medium;
    border-color: black;
    outline-style: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    animation: b-glow infinite 2s linear;
}
.b2:hover {
    animation: none;
}
.img-holder .b3 {
    width: 2vw;
    height: 2vw;
    position: absolute;
    bottom: 18.5vw; /*your button position*/
    right: 37vw; /*your button position*/
    border-radius: 50%;
    background-color: rgba(100, 0, 0, 0.5);
    border-width: medium;
    border-color: black;
    outline-style: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    animation: b-glow infinite 2s linear;
}
.b3:hover {
    animation: none;
}
.img-holder .b4 {
    width: 2vw;
    height: 2vw;
    position: absolute;
    bottom: 21vw; /*your button position*/
    right: 68vw; /*your button position*/
    border-radius: 50%;
    background-color: rgba(100, 0, 0, 0.5);
    border-width: medium;
    border-color: black;
    outline-style: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    animation: b-glow infinite 2s linear;
}
.b4:hover {
    animation: none;
}
.img-holder .b5 {
    width: 2vw;
    height: 2vw;
    position: absolute;
    bottom: 6.7vw; /*your button position*/
    right: 58vw; /*your button position*/
    border-radius: 50%;
    background-color: rgba(100, 0, 0, 0.5);
    border-width: medium;
    border-color: black;
    outline-style: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    animation: b-glow infinite 2s linear;
}
.b5:hover {
    animation: none;
}
.img-holder .b6 {
    width: 2vw;
    height: 2vw;
    position: absolute;
    bottom: 6vw; /*your button position*/
    right: 67.7vw; /*your button position*/
    border-radius: 50%;
    background-color: rgba(100, 0, 0, 0.5);
    border-width: medium;
    border-color: black;
    outline-style: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    animation: b-glow infinite 2s linear;
}
.b6:hover {
    animation: none;
}
.img-holder .b7 {
    width: 5vw;
    height: 5vw;
    position: absolute;
    bottom: 7vw; /*your button position*/
    right: 44vw; /*your button position*/
    border-radius: 50%;
    background-color: rgba(100, 0, 0, 0.5);
    border-width: medium;
    border-color: black;
    outline-style: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    animation: b-glow infinite 2s linear;
}
.b7:hover {
    animation: none;
}
@keyframes b-glow {
    0% {
        background-color: rgba(100, 0, 0, 0);
    }
    50% {
        background-color: rgba(100, 0, 0, 0.5);
    }
    100% {
        background-color: rgba(100, 0, 0, 0);
    }
}

img.logo {
    width: 20vw;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #f1f1f1;}
.dropbtn:hover {background-color: #f1f1f1}

footer {
    background-color: gainsboro;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

p.footer {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
}

@media screen and (max-width: 600px) {
    h1.navbar {
        font-size: 5vw;
    }
    h2.navbar {
        font-size: 4vw;
    }
    p {
        font-size: 2vw;
    }
    .dropbtn {
        height: 8vw;
        font-size: 3vw;
    }
    .dropbtn-light {
        height: 8vw;
        font-size: 3vw;
    }
    p.main {
        font-size: 3vw;
    }
}